In [31]:
import os
import pandas as pd

data_dir="C://Users/573380/Documents/Assignments"
os.chdir(data_dir)

In [32]:
data=pd.read_json("amsterdam.json")

In [33]:
1. #how many rows in the raw dataset
data.count()

host_listings_count               15178
accommodates                      15181
bathrooms                         15163
bedrooms                          15169
guests_included                   15181
minimum_nights                    15181
number_of_reviews                 15181
calculated_host_listings_count    15181
price                             15181
latitude                          15181
longitude                         15181
room_type                         15181
instant_bookable                  15181
dtype: int64

In [34]:
2. #is the column "Bathroom" in the data

2.0

In [35]:
3. # cloumn "bedrooms" has 12 missing values

3.0

In [36]:
4. #the variable lattitude is a numeric variable that you just read in
data['latitude'].describe()

count    15181.000000
mean        52.365353
std          0.015738
min         52.290308
25%         52.355616
50%         52.365028
75%         52.374829
max         52.426224
Name: latitude, dtype: float64

In [37]:
5. #the average value of price cloumns
data['price']=data['price'].str.replace('$', '')

In [38]:
data['price']=data['price'].str.replace(',', '')

In [39]:
data.price=pd.to_numeric(data.price)

In [40]:
round(data.price.mean(),3)

134.799

In [41]:
6. # the maximum value in the price column is
round(data.price.max(),1)

3142.0

In [42]:
7. #what is the 99th percentile of price column is
data['price'].quantile(0.99)

440.0

In [43]:
8. #remove all the rows where the price column more than 440,what is the 90th percentile now
price440=data[data['price']<=440.0]

In [44]:
price440.quantile(0.90)

host_listings_count                 3.000000
accommodates                        4.000000
bathrooms                           1.500000
bedrooms                            2.000000
guests_included                     2.000000
minimum_nights                      4.000000
number_of_reviews                  43.000000
calculated_host_listings_count      3.000000
price                             210.000000
latitude                           52.383550
longitude                           4.934756
Name: 0.9, dtype: float64

In [45]:
10. # find the distance function and find 2nd price from sort ascending order
from math import radians, cos, sin, asin, sqrt
def haversine(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    km = 6367 * c
    return km


for index, row in data.iterrows():
    a_longitude = 4.899431
    a_latitude  = 52.379189
    data.loc[index,'d_center'] = haversine(row['longitude'],row['latitude'],a_longitude, a_latitude)

In [46]:
data.sort_values("d_center")

,host_listings_count,accommodates,bathrooms,bedrooms,guests_included,minimum_nights,number_of_reviews,calculated_host_listings_count,price,latitude,longitude,room_type,instant_bookable,d_center
3158,1.0,2,1.5,1.0,1,1,0,1,85.0,52.378546,4.900775,Private room,f,0.115801
3168,1.0,4,1.0,1.0,1,1,0,1,41.0,52.378850,4.901433,Shared room,f,0.140946
2639,1.0,4,1.0,1.0,2,3,27,1,159.0,52.379089,4.897293,Entire home/apt,f,0.145468
3010,4.0,2,1.0,1.0,1,1,4,4,150.0,52.378549,4.896679,Private room,t,0.199767
1860,1.0,2,1.0,1.0,1,1,9,1,120.0,52.378398,4.896674,Private room,f,0.206638
1447,4.0,2,1.0,1.0,1,1,0,4,250.0,52.377927,4.897073,Private room,f,0.212781
3064,2.0,2,1.0,1.0,1,2,21,1,150.0,52.378273,4.896626,Entire home/apt,t,0.215779
1660,1.0,2,1.0,1.0,1,3,0,1,200.0,52.377718,4.897159,Entire home/apt,f,0.224711
1481,1.0,2,1.0,1.0,1,6,0,1,130.0,52.378475,4.896224,Entire home/apt,t,0.231548
1939,1.0,4,1.0,1.0,2,2,8,1,145.0,52.378837,4.895983,Entire home/apt,t,0.237135
2536,3.0,4,1.0,1.0,1,3,6,3,175.0,52.377187,4.898136,Shared room,t,0.239143
2180,2.0,5,1.0,2.0,4,3,1,2,260.0,52.377586,4.901892,Entire home/apt,f,0.244084
2956,2.0,2,2.0,1.0,1,1,82,2,44.0,52.381392,4.899658,Private room,t,0.245291
2439,1.0,3,1.0,1.0,1,2,2,1,150.0,52.377078,4.897727,Entire home/apt,f,0.261459
3025,3.0,3,1.0,1.0,2,2,1,2,149.0,52.377324,4.897056,Entire home/apt,f,0.262547
3056,1.0,2,1.0,1.0,1,2,0,1,130.0,52.376807,4.899917,Entire home/apt,f,0.266703
2048,1.0,4,1.5,2.0,2,1,15,1,138.0,52.377653,4.896400,Entire home/apt,f,0.267255
2413,29.0,4,1.0,0.0,1,3,0,28,169.0,52.377522,4.896530,Entire home/apt,f,0.270236
2491,1.0,2,1.0,1.0,1,3,36,1,130.0,52.377774,4.896102,Entire home/apt,f,0.275184
2997,1.0,4,1.0,2.0,1,2,3,1,250.0,52.377229,4.896887,Entire home/apt,t,0.277847
3131,1.0,2,1.0,1.0,1,1,26,1,95.0,52.376689,4.899255,Entire home/apt,t,0.278080
2137,2.0,4,0.5,2.0,2,1,1,2,141.0,52.380980,4.902345,Entire home/apt,t,0.280462
1585,4.0,2,1.0,1.0,1,1,0,4,150.0,52.378612,4.895389,Private room,f,0.281578
2616,2.0,4,0.5,0.0,2,1,3,2,81.0,52.381672,4.900275,Entire home/apt,t,0.281758
1596,1.0,5,1.5,0.0,1,2,2,1,180.0,52.377623,4.902706,Entire home/apt,f,0.282204
3181,1.0,3,1.0,2.0,1,7,0,1,160.0,52.377614,4.895961,Entire home/apt,f,0.293360
2255,1.0,2,1.0,1.0,1,3,6,1,130.0,52.376591,4.900877,Entire home/apt,f,0.304958
2594,4.0,2,1.0,1.0,1,1,0,4,150.0,52.378099,4.895268,Private room,f,0.307260
2825,1.0,3,1.0,1.0,2,1,2,1,90.0,52.378947,4.894908,Private room,t,0.308009
2854,1.0,2,1.5,1.0,1,4,0,1,125.0,52.379128,4.894884,Entire home/apt,f,0.308551
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6746,2.0,2,1.0,1.0,1,1,3,2,50.0,52.299211,4.987568,Private room,f,10.714388
6808,2.0,2,1.0,1.0,2,2,67,2,45.0,52.299802,4.989116,Private room,f,10.719309
6778,1.0,5,1.0,2.0,4,2,13,1,119.0,52.292869,4.969895,Entire home/apt,f,10.719331
6800,1.0,2,1.0,1.0,2,1,5,1,25.0,52.297740,4.984039,Private room,f,10.720158
6810,1.0,2,1.0,1.0,1,2,18,1,93.0,52.298288,4.985535,Entire home/apt,f,10.723793
6737,2.0,3,1.0,1.0,2,2,78,2,31.0,52.299510,4.988670,Private room,f,10.728928
6769,1.0,3,1.0,1.0,2,3,44,1,60.0,52.299451,4.988602,Private room,f,10.731770
6773,1.0,2,1.0,1.0,1,2,5,1,65.0,52.294460,4.975906,Entire home/apt,t,10.752446
6784,1.0,2,1.0,1.0,1,1,1,1,100.0,52.292888,4.972911,Private room,f,10.810483
6755,3.0,2,1.5,1.0,1,1,0,3,50.0,52.302070,4.997182,Private room,t,10.839239
6788,1.0,4,1.0,3.0,6,2,16,1,175.0,52.299875,4.994068,Entire home/apt,f,10.907298
6790,2.0,2,1.0,1.0,2,1,57,2,50.0,52.300856,4.996407,Private room,t,10.914329
6796,3.0,6,1.5,3.0,7,2,0,3,175.0,52.301257,4.997532,Entire home/apt,t,10.925213
6802,3.0,2,1.0,1.0,1,2,8,3,55.0,52.299241,4.993944,Private room,f,10.959422
6803,3.0,2,1.5,1.0,2,1,8,3,75.0,52.300915,4.997996,Private room,f,10.974666
6748,3.0,2,1.5,1.0,1,1,29,3,47.0,52.300351,4.997291,Private room,t,10.995390
6774,3.0,2,1.0,1.0,1,2,1,3,75.0,52.300130,4.998557,Private room,f,11.066966
6758,2.0,2,1.0,1.0,1,2,94,2,50.0,52.299685,4.997847,Private room,t,11.077151
6805,1.0,4,1.5,1.0,2,1,17,1,60.0,52.305976,5.010771,Private room,f,11.105292
6767,2.0,2,2.0,1.0,1,1,2,2,80.0,52.297166,4.993197,Private room,f,11.118057
6782,2.0,1,2.0,1.0,1,1,2,2,60.0,52.297613,4.994682,Private room,f,11.135626
6801,1.0,3,1.5,1.0,2,1,0,1,65.0,52.296297,4.992101,Private room,f,11.155282
6759,1.0,3,1.0,1.0,1,1,0,1,84.0,52.290308,4.978471,Private room,f,11.240968
6786,1.0,3,1.0,1.0,2,2,3,1,35.0,52.291462,4.982388,Private room,f,11.259013
6797,1.0,1,1.0,1.0,1,1,44,1,38.0,52.298440,5.000180,Private room,t,11.283228
6804,1.0,3,1.0,1.0,2,2,37,1,40.0,52.290687,4.983784,Private room,f,11.381113
6779,1.0,4,1.0,3.0,1,3,1,1,101.0,52.292209,4.989963,Entire home/apt,f,11.454847
6791,1.0,2,1.0,1.0,1,1,22,1,50.0,52.292890,4.995102,Private room,t,11.583068
6766,1.0,2,1.0,1.0,1,2,5,1,50.0,52.291664,4.992333,Private room,f,11.592780
6764,1.0,3,1.0,3.0,1,30,0,1,83.0,52.302752,5.020968,Entire home/apt,f,11.842162

In [47]:
9. #drop all the missing values in the data and how many rows left
data1=data.dropna(axis = 0, how ='any')

In [48]:
data1.count()

host_listings_count               15148
accommodates                      15148
bathrooms                         15148
bedrooms                          15148
guests_included                   15148
minimum_nights                    15148
number_of_reviews                 15148
calculated_host_listings_count    15148
price                             15148
latitude                          15148
longitude                         15148
room_type                         15148
instant_bookable                  15148
d_center                          15148
dtype: int64

In [49]:
11. #the average price of provate rooms tat are less than or equal 1 from city center.
less1=data1[data1['d_center']<=1.0]

In [50]:
private=less1[less1['room_type']=='Private room']

In [60]:
round(private.price.mean(),1)

120.8

In [52]:
12. #create dummies for categorail variable
data1=pd.get_dummies(data1)

In [66]:
data1.count()

host_listings_count               15148
accommodates                      15148
bathrooms                         15148
bedrooms                          15148
guests_included                   15148
minimum_nights                    15148
number_of_reviews                 15148
calculated_host_listings_count    15148
price                             15148
latitude                          15148
longitude                         15148
d_center                          15148
room_type_Entire home/apt         15148
room_type_Private room            15148
room_type_Shared room             15148
instant_bookable_f                15148
instant_bookable_t                15148
dtype: int64

In [63]:
X=data1.drop(['accommodates'],axis=1)
y=data1['accommodates']

In [65]:
13. #mean of accomadates column

import sklearn.model_selection as model_selection
X_train,X_test,y_train,y_test=model_selection.train_test_split(data1,y,test_size=0.3,random_state=200)

In [67]:
X_train.head()

,host_listings_count,accommodates,bathrooms,bedrooms,guests_included,minimum_nights,number_of_reviews,calculated_host_listings_count,price,latitude,longitude,d_center,room_type_Entire home/apt,room_type_Private room,room_type_Shared room,instant_bookable_f,instant_bookable_t
9522,2.0,2,1.5,1.0,1,2,0,2,249.0,52.346529,4.891464,3.669346,0,1,0,1,0
1495,1.0,2,1.5,1.0,1,20,0,1,200.0,52.368942,4.880599,1.711433,1,0,0,1,0
14114,1.0,2,1.0,1.0,1,1,10,1,75.0,52.377109,4.849093,3.422540,1,0,0,1,0
2092,4.0,2,1.0,1.0,2,2,49,4,145.0,52.375222,4.880594,1.351768,0,1,0,1,0
12022,1.0,3,1.5,1.0,2,2,14,1,120.0,52.363172,4.862370,3.080681,1,0,0,1,0

In [68]:
X_test.head()

,host_listings_count,accommodates,bathrooms,bedrooms,guests_included,minimum_nights,number_of_reviews,calculated_host_listings_count,price,latitude,longitude,d_center,room_type_Entire home/apt,room_type_Private room,room_type_Shared room,instant_bookable_f,instant_bookable_t
5851,1.0,3,1.0,2.0,1,2,3,1,90.0,52.362597,4.928033,2.676844,1,0,0,1,0
11570,1.0,4,1.0,2.0,2,2,10,1,130.0,52.359355,4.854828,3.743840,1,0,0,1,0
3686,1.0,2,1.0,1.0,1,1,0,1,85.0,52.363484,4.943817,3.480599,1,0,0,1,0
7722,1.0,4,1.5,2.0,2,4,4,1,110.0,52.389229,4.881814,1.634801,1,0,0,1,0
395,1.0,2,1.0,1.0,1,2,0,1,80.0,52.407558,4.898796,3.152856,1,0,0,1,0

In [69]:
X_test.describe()

,host_listings_count,accommodates,bathrooms,bedrooms,guests_included,minimum_nights,number_of_reviews,calculated_host_listings_count,price,latitude,longitude,d_center,room_type_Entire home/apt,room_type_Private room,room_type_Shared room,instant_bookable_f,instant_bookable_t
count,4545.000000,4545.000000,4545.000000,4545.000000,4545.000000,4545.000000,4545.000000,4545.000000,4545.000000,4545.000000,4545.000000,4545.000000,4545.000000,4545.000000,4545.000000,4545.000000,4545.000000
mean,3.455886,2.928493,1.117602,1.409461,1.528493,2.859186,17.792739,2.893729,135.335314,52.365629,4.888658,2.967165,0.779758,0.216062,0.004180,0.842904,0.157096
std,11.800922,1.378897,0.349765,0.864117,1.004891,7.284520,33.957159,8.786940,89.738088,0.015798,0.034551,1.605233,0.414455,0.411602,0.064528,0.363931,0.363931
min,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,25.000000,52.290687,4.753513,0.231548,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,90.000000,52.355829,4.864829,1.940073,1.000000,0.000000,0.000000,1.000000,0.000000
50%,1.000000,2.000000,1.000000,1.000000,1.000000,2.000000,7.000000,1.000000,119.000000,52.365229,4.886368,2.825794,1.000000,0.000000,0.000000,1.000000,0.000000
75%,1.000000,4.000000,1.000000,2.000000,2.000000,3.000000,18.000000,1.000000,151.000000,52.375242,4.907188,3.558340,1.000000,0.000000,0.000000,1.000000,0.000000
max,106.000000,16.000000,8.000000,10.000000,16.000000,360.000000,436.000000,91.000000,3142.000000,52.426224,5.027689,11.381113,1.000000,1.000000,1.000000,1.000000,1.000000

In [70]:
X_train.describe()

,host_listings_count,accommodates,bathrooms,bedrooms,guests_included,minimum_nights,number_of_reviews,calculated_host_listings_count,price,latitude,longitude,d_center,room_type_Entire home/apt,room_type_Private room,room_type_Shared room,instant_bookable_f,instant_bookable_t
count,10603.000000,10603.000000,10603.000000,10603.000000,10603.000000,10603.000000,10603.000000,10603.000000,10603.000000,10603.000000,10603.000000,10603.000000,10603.000000,10603.000000,10603.000000,10603.000000,10603.000000
mean,3.388003,2.914741,1.125248,1.414128,1.511459,2.894558,17.718476,2.956805,134.691785,52.365228,4.889197,3.000338,0.778459,0.217297,0.004244,0.844195,0.155805
std,11.129877,1.413778,0.359430,0.894689,1.005707,7.197238,34.939545,9.059177,84.065080,0.015720,0.035058,1.611191,0.415303,0.412426,0.065011,0.362687,0.362687
min,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,19.000000,52.290308,4.768657,0.115801,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,89.000000,52.355500,4.865064,1.939838,1.000000,0.000000,0.000000,1.000000,0.000000
50%,1.000000,2.000000,1.000000,1.000000,1.000000,2.000000,7.000000,1.000000,115.000000,52.364938,4.886344,2.840821,1.000000,0.000000,0.000000,1.000000,0.000000
75%,1.000000,4.000000,1.000000,2.000000,2.000000,3.000000,18.000000,1.000000,150.000000,52.374635,4.908163,3.579829,1.000000,0.000000,0.000000,1.000000,0.000000
max,106.000000,17.000000,8.000000,10.000000,16.000000,523.000000,496.000000,91.000000,2100.000000,52.424915,5.026701,11.842162,1.000000,1.000000,1.000000,1.000000,1.000000

In [71]:
y_train.head()

9522     2
1495     2
14114    2
2092     2
12022    3
Name: accommodates, dtype: int64

In [72]:
y_test.head()

5851     3
11570    4
3686     2
7722     4
395      2
Name: accommodates, dtype: int64

In [76]:
a=X_train.accommodates.mean()

In [75]:
b=X_test.accommodates.mean()

In [83]:
round(abs(a-b),3)

0.014

In [81]:
print(a)

2.914741111006319

In [82]:
print(b)

2.9284928492849285